.main-container {
    margin: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.pantry-info-container {
    margin: 1rem;
    align-items: end;
    display: flex;
    justify-content: center;
}

.option-select-button{
    height: 10rem;
}

.button-container-choose-donation-type {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    margin: 1rem;
}
