.main-container {
    padding-top: 0rem;
}

.main-container .zip-input {
    padding-top: 2rem;
    width: 20rem;
}

.main-container .show-results-text {
    padding-top: 2rem;
}

.main-container .radius-drop-down{
    padding-top: 2rem;
    padding-left: -3rem;
}
.main-container .btn-search-pantry{
    padding-top: 2rem;
}

.main-container .user-input-row {
    align-items: center;
    display: flex;
    justify-content: center;
}

.main-container .results-list {
    padding-top: 5rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.main-container .pantry-option{
    height: 100px;
    color: black;
}

.main-container .pantry-option:focus{
    background:#0275d8;
    color: #fff;
}


.main-container .details-btn {
    margin: 1rem;
}

.main-container .pantry-name {
    align-items: center;
    display: flex;
    justify-content: center;
}
