.main-container {
    padding-top: 2rem;
    font-family: 'Bebas Neue', cursive;
}

.option-select-button {
    height: 14rem;
    width: 40rem;
}

.donate-options {
    margin-top: 1rem;
}

.download-pdf-list{
    margin-left: 2rem;
}

.items{
    color: #ce9466;
    font-weight: bold;
    font-size: x-large;
}

.volunteer-list::-webkit-scrollbar {
    display: none;
}


.volunteer-list{
    overflow: scroll;
}

.see-details-btn{
    background-color: #4b1b1b;
    color:#ce9466;
    border: none;
    font-size: 5px;
    margin-left: 30px;
}

.check-box{
    width: 20px;
    height: 20px;
    margin-top: 30px;
}
