.main-container {
    padding-top: 2rem;
    font-family: 'Bebas Neue', cursive;
}

.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

.volunteer-box{
    background-color: white;
    border-color: #4b1b1b;

}

.option-select-button {
    height: 14rem;
    width: 40rem;
}

.donate-options {
    margin-top: 1rem;
}

.download-pdf-list{
    margin-left: 2rem;
}

.items{
    color: #ce9466;
    font-weight: bold;
    font-size: x-large;
}

/*.volunteer-list::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/

/*.volunteer-box{*/
/*    background-color: rgb(107, 114, 78);*/
/*    border-color: #4b1b1b;*/
/*}*/

/*.volunteer-list{*/
/*    overflow: scroll;*/
/*    !*margin-left: 3rem;*!*/

/*}*/

.see-details-btn{
    background-color: #4b1b1b;
    color:#ce9466;
    border: none;
    font-size: 10px;
    margin-left: 70px;
}
